<div class="container">
  <div class="row-cols-lg-1">
    <div class="col-md-12 my-5">
      <div class="card bg-secondary my-5">
        <div class="card-body">
          <h2 class="card-title text-center text-info py-3"><img alt="{{talent.idolName}} Profile Picture" class="img-fluid" src="{{talent.thumbnailID}}"></h2>
          <h1 class="card-title text-center text-info py-3">{{talent.idolName}}</h1>
          <h1 class="card-title text-center text-info py-3">This is supposed to be a graph, but for now.. a list!</h1>
          <ul>
            <li *ngFor="let entry of entires">
              <p>{{entry.snapshotTime}} = {{entry.subscriberCount}}</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
