
<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Talent Name</th>
        <th scope="col">Channel Name</th>
        <th scope="col">Subscriber Count</th>
        <th scope="col">Informaiton</th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let talent of talents">
        <td>{{ talent.idolName }}</td>
        <td>{{ talent.channelName }}</td>
        <td>{{ formatSubcount(talent)}} Fans</td>
        <td><a class="btn btn-primary" (click)="setSelectedTalent(talent); " >Click me</a></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<!--<app-talent-detail [talent]="talent"></app-talent-detail>-->
